.fields {
				display:flex;
				width: 300vh;
}
.fields input {
				display: block;
}
p::first-letter {
				color: red;
				font-size:1.1em;
}

#chatbox {
				border: 3px solid gray;
				width: 42vw;
				max-width: 600px;
				margin: 20px auto; 
				padding: 10px;
				border-radius: 8px; 
				background-color: #f9f9f9; 
}


#chatbox ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				height: 200px;
				overflow-y: auto;
				margin-bottom: 10px;
				padding-right: 10px;
}

#chatbox li {
				padding: 8px;
				margin-bottom: 5px;
				background-color: #e1e1e1;
				border-radius: 5px;
				max-width: 90%; 
				word-wrap: break-word;
}

#messageInput {
				width: calc(100% - 20px);
				padding: 8px;
				border-radius: 5px;
				border: 1px solid #ccc;
				margin-bottom: 10px;
				font-size: 14px;
}

#sendButton {
				width: 100%;
				padding: 10px;
				border: none;
				border-radius: 5px;
				background-color: #007bff;
				color: white;
				font-size: 16px;
				cursor: pointer;
}

#sendButton:hover {
				background-color: #0056b3; 
}