<!DOCTYPE html>
<html lang='ru'>
	<head>
		<meta name='viewport' content='width=device-width,initial-scale=1.0'/>
		<title>Радио Рапорт</title>
		<link rel='stylesheet' href='main.css' />
	</head>
	<body>
		<div id='top'>
			<p>Дополнительная информация имеется в консоле браузера</p>
			<p></p>
		</div>
		<!-- CRUD -->
		<div class='fields'>
			<section id='create'>
				<form id='createForm'>
				<fieldset id='qsofield'>
					<legend>Добавить QSO</legend>
					<label for='callsignInputA_create'>Первый позывной: </label><input id='callsignInputA_create' placeholder='позывной первого'/>
					<label for='callsignInputB_create'>Второй позывной: </label><input id='callsignInputB_create' placeholder='позывной второго'/>
					<label for='RSTA_create'>RST первого: </label><input id='RSTA_create' placeholder='RST A'/>
					<label for='RSTB_create'>RST второго: </label><input id='RSTB_create' placeholder='RST B'/>
					<button type='button' id='addQSOButton'>Добавить</button>
				</fieldset>
				</form>
			</section>
			<section id='read'>
				<form id='readForm'>
					<fieldset id='readfield'>
						<legend>Получить последние QSO</legend>
						<label for='qsoLimit'>Лимит: </label><input id='qsoLimit' placeholder='Limit' />
						<label for='qsoOffset'>offset: </label><input id='qsoOffset' placeholder='Offset' />
						<button id='readButton' type='button'>Получить</button>
					</fieldset>
				</form>
			</section>
			<section id='update'>
				<form id='updateForm'>
					<fieldset id='updatefield'>
					<legend>изменить QSO</legend>
					<label for='qsoUpdateID'>ID: </label><input id='qsoUpdateID' placeholder='qsoUpdateID'/>
					<label for='callsignUpdateInputA'>Первый позывной: </label><input id='callsignUpdateInputA' placeholder='позывной первого'/>
					<label for='callsignUpdateInputB'>Второй позывной: </label><input id='callsignUpdateInputB' placeholder='позывной второго'/>
					<label for='RSTUpdateA'>RST первого: </label><input id='RSTUpdateA' placeholder='RST A'/>
					<label for='RSTUpdateB'>RST второго: </label><input id='RSTUpdateB' placeholder='RST B'/>
					<button type='button' id='modifyQSO'>Изменить</button>
					</fieldset>
				</form>
			</section>
			<section id='delete'>
				<form id='deletefield'>
					<fieldset id='updatefield'>
					<legend>изменить QSO</legend>
					<label for='qsoDeleteID'>ID: </label><input id='qsoDeleteID' placeholder='qsoID'/>
					<button type='button' id='delQSO'>Удалить</button>
					</fieldset>
				</form>
			</section>
			</div>
			<div id="chatbox">
				<form id="chatboxform">
					<ul id="chatmsgs"></ul>
					<span for='usernamefield'>Username: </span><input type='text' id='usernamefield'/> 
					<span for='message'>Message: </span><textarea id="message" rows="1" cols="25"></textarea>
					<button id='sendMsgBut' type="button">Отправить</button>
				</form>
			</div>
			<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
			<script src='chat.js'></script>
			<script src='raport.js'></script>
		</div>
	</body>
</html>